 body{
	font-family: 'Roboto ', sans-serif;
}
.service-background .background{
text-align: center;
  background:url('../img/bg-news.jpg') top fixed no-repeat;
  background-size: cover;
  height: 785px;
  margin-bottom: 0px;
  padding-top: 40px;
}
.breadcrumb{
	background: transparent;
	padding: 20px 0 10px;

}
.breadcrumb >li{
font-size: 14px;
display: inline-block;
}
.breadcrumb >li > a{
	color: #6a6a6a;
	font-size: 14px;
	text-decoration: none;
}
.breadcrumb>li>a:hover{
	color: #f25860;
}
.breadcrumb .fa{
	margin: 2px 5px 0 0;
	color: #999;
}
.breadcrumb .fa:hover{
color: #f25860;
}

.breadcrumb .active{
	color: #f25860;
}
.breadcrumb > li + li:before{
	content: "\f105";
	font-family: 'FontAwesome';
	color: #a0a0a0;
	padding: 0 10px 0 5px;
}
.bg-line{
	border-top: 1px solid #e5e5e5;
	background-color: #e6c8aa30;
}
.sidebar{
	float: left;
	min-height: 50px;
	width: 265px;
	padding: 0 0 15px;
	margin-top: 25px;
}
ul{
	list-style:none;
	padding: 0;
	margin: 0;
}
.menuleft > ul > li > span{
	display: block;
	background: #f25860;
	padding: 15px 20px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
}
.menuleft > ul > li > ul > li {
    border-bottom: 1px solid #eee;
}
.menuleft > ul > li > ul > li:last-child{
    border-bottom: none;
}
.menuleft > ul > li > ul > li > a {
    display: block;
    padding: 15px 53px 15px 20px;
    font-size: 14px;
    color: #6a6a6a;
    text-decoration: none;
}
.menuleft > ul > li > ul > li > a:hover{
	color: #f25860;
}
.menuleft > ul > li > ul > li > a > .fa {
    float: left;
    margin: 2px 0 0 -12px;
    color: #6a6a6a;
}

.main{
	float: right;
	max-width: 875px;
	padding: 0 0 15px 30px;
	margin-top: 25px;
	border-left:1px solid #eee;
}
.new-list{
	overflow: auto;
}
.new-list ul li{
	float: left;
	width: 50%;
	padding-bottom: 15px;
}
.new-list .grid-news{
	padding-bottom: 30px;
	padding-right: 15px;
}
.new-list .grid-news .img-news{
	float: none;
	width: auto;
	margin:0 0 15px;
	max-height: 270px;
	overflow: hidden;
}
.new-list .grid-news .img-news img{
	height: 100%;
	width: 100%
}
.new-list .g-content-news{
	margin-left: 0;
}
.new-list .grid-news .g-row-news{
	text-align: center;
	font-size: 14px;
	color: #6a6a6a;
	margin-bottom: 10px;
	font-weight: 300;
	line-height: 18px;
}
.new-list .grid-news .g-row-news a:hover{
	text-decoration: none;
	color: #f25860;
}
.new-list .grid-news .g-title-news{
	font-size: 18px;
	color: #6a6a6a;
	display: block;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	font-weight: 500;	
}
.new-list .grid-news .new-line{
	text-align: center;
	border-top: 1px solid #eee;
	text-align: center;
	margin-top: 25px;
	height: 1px;
}
.new-list .grid-news .new-line .fa{
	height: 30px;
	width: 30px;
	background: #f25860;
	color: #fff;
	text-align: center;
	padding: 7px 0 0;
	vertical-align: top;
	display: inline-block;
	margin-top: -13px;
	border-radius: 50%;
}
.fa-heart:before{
	content: "\f004";
}
.box-control{
	min-height: 30px;
	padding: 0 0 15px;

}
.pagination-router{
	float: none;
	text-align: center;
}
.pagination{
	margin: 15px 0;
}
.pagination .active{
	background-color: #f25860;
}

.fa-angle-right:before{
	content: "\f105"
}
.fa-angle-double-right:before{
	content: "\f101"
}
.footer-bottom{
	background: #000;
	padding: 15px 0;
}
.footer-menu{
	float: right;
	font-size: 13px;

}
.footer-menu ul{
	display: inline-block;
	vertical-align: top;
	list-style-type: none;
}
.footer-menu ul >li{
	float: left;
	padding: 0 15px;

}
.footer-menu ul > li > a {
    color: #777;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
}
.footer-menu ul > li > a:hover{
    color: #f25860;

}

.footer-top{
	padding: 12px 0;
}
.footer-logo{
	text-align: center;
}
.footer-logo a{
	text-decoration: none;
}
.footer-logo span{
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	color: #f25860;
	font-weight: bold;


}
.footer-content{
	padding: 5px 0 10px;
}
.footer-content .maincontent{
	font-size: 13px;
	line-height: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.footer .footer-lb{
	font-size: 28px;
	color: #f25860;
	font-family: 'Dancing Script', cursive;
	display: block;
	padding: 10px 0;
	font-weight: bold;
}