 body{
	font-family: 'Roboto ', sans-serif;
}
.service-camera-background .background-camera{
	text-align: center;
  background:url('bg1.png') top fixed no-repeat;
  background-size: cover;
  height: 785px;
  margin-bottom: 0px;
  padding-top: 40px;
  width: 100%;
}
.breadcrumb{
	background: transparent;
	padding: 20px 0 10px;

}
.breadcrumb >li{
font-size: 14px;
display: inline-block;
}
.breadcrumb >li > a{
	color: #6a6a6a;
	font-size: 14px;
	text-decoration: none;
}
.breadcrumb>li>a:hover{
	color: #f25860;
}
.breadcrumb .fa{
	margin: 2px 5px 0 0;
	color: #999;
}
.breadcrumb .fa:hover{
color: #f25860;
}

.breadcrumb .active{
	color: #f25860;
}
.breadcrumb > li + li:before{
	content: "\f105";
	font-family: 'FontAwesome';
	color: #a0a0a0;
	padding: 0 10px 0 5px;
}
.bg-line{
	border-top: 1px solid #e5e5e5;
	background-color: #e6c8aa30;
}
.sidebar{
	float: left;
	min-height: 50px;
	width: 265px;
	padding: 0 0 15px;
	margin-top: 25px;
}
ul{
	list-style:none;
	padding: 0;
	margin: 0;
}
.menuleft > ul > li > span{
	display: block;
	background: #f25860;
	padding: 15px 20px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
}
.menuleft > ul > li > ul > li {
    border-bottom: 1px solid #eee;
}
.menuleft > ul > li > ul > li:last-child{
    border-bottom: none;
}
.menuleft > ul > li > ul > li > a {
    display: block;
    padding: 15px 53px 15px 20px;
    font-size: 14px;
    color: #6a6a6a;
    text-decoration: none;
}
.menuleft > ul > li > ul > li > a:hover{
	color: #f25860;
}
.menuleft > ul > li > ul > li > a > .fa {
    float: left;
    margin: 2px 0 0 -12px;
    color: #6a6a6a;
}

.main{
	float: right;
	max-width: 875px;
	padding: 0 0 15px 30px;
	margin-top: 25px;
	border-left:1px solid #eee;
}
.main-banner {
    margin: 0 0 25px;
    max-width: 875px;
}
.main-banner img{
	width: 100%;
}
.box-news .main-content {
    padding: 0 0 15px;
}
.main-content p {
    font-size: 16px;
    margin: 0 0 15px;
    font-weight: 300;
    text-align: justify;
}
.main-content span{
font-size: 16px;
}
.service-img{
	max-width: 859px;
	margin-bottom: 15px;
}
.service-img img{
	max-width: 100%;
}
.pimg1{
	background-image: url('img3.jpg');
	min-height: 400px;
	position: relative;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}



/*------------------------------ thue vay cuoi --------------------------------------------------------*/
.service-hire-background .background-hire{
text-align: center;
  background:url('bg2.jpg') top fixed no-repeat;
  background-size: cover;
  height: 785px;
  margin-bottom: 0px;
  padding-top: 40px;
  width: 100%;
}
.pimg2{
	background-image: url('img7.jpg');
	min-height: 400px;
	position: relative;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}