body{
	font-family: 'Roboto ', sans-serif;
}
.price-background .background-price{
text-align: center;
  background:url('bg.jpg') top fixed no-repeat;
  background-size: cover;
  height: 785px;
  margin-bottom: 0px;
  padding-top: 40px;
}
.breadcrumb{
	background: transparent;
	padding: 20px 0 10px;

}
.breadcrumb >li{
font-size: 14px;
display: inline-block;
}
.breadcrumb >li > a{
	color: #6a6a6a;
	font-size: 14px;
	text-decoration: none;
}
.breadcrumb>li>a:hover{
	color: #f25860;
}
.breadcrumb .fa{
	margin: 2px 5px 0 0;
	color: #999;
}
.breadcrumb .fa:hover{
color: #f25860;
}

.breadcrumb .active{
	color: #f25860;
}
.breadcrumb > li + li:before{
	content: "\f105";
	font-family: 'FontAwesome';
	color: #a0a0a0;
	padding: 0 10px 0 5px;
}